<header class="header">
    <div class="container">
        <!-- <div class="header__container"> -->
            <a href="../index.html" class="header__logo">CBD</a>
        <!-- </div> -->
        <ul class="header__list">
            <li class="header__item">
                <a href="../about/index.html" class="header__nav">Про нас</a>
            </li>
            <li class="header__item">
                <a href="../services/index.html" class="header__nav">Сервіси</a>
            </li>
            <li class="header__item">
                <a href="../portfolio/index.html" class="header__nav">Портфоліо</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__nav">Клієнти</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__nav">Новини</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__nav">Магазин</a>
            </li>
            <li class="header__item">
                <a href="#" class="header__nav">Контакти</a>
            </li>
            <li class="header__item">
                <a href="../search/index.html" class="header__nav">Вартість</a>
            </li>
            <li class="header__item">
                <a href="" class="header__nav">Події</a>
            </li>
        </ul>
        <input type="text" class="header__search" placeholder="Пошук">
    </div>
</header>