.portfolio {
  background-image: linear-gradient(rgba(0, 0, 0, 0.709)), url(../../../img/portfolio-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .container {
    padding-bottom: 232px;
    padding-top: 239px;
  }

  &__title {
    font-family: "Montserrat Alternates";
    font-weight: 500;
    font-size: 56px;
    text-align: center;
    color: white;

  }

}