<section class="start_about">
    <div class="container start_about_container">
        <div class="start_about_photo">
            <img src="../img/img-desktop/maina-desktop@1x.webp" alt="Про компанію" class="start_about_img">




            <h2 class="start_about_title">Про компанію</h2>
        </div>

        <div class="start_about_info">

            <p class="start_about_text">CBD Meetings & Events — готове рішення Вашингтона, округ Колумбія до повного
                планування заходів, організації заходів та маркетингу заходів. CBD є найкращим інтегрованим
                планува...</p>


        </div>
        <a class="start_about_btn" href="#">Детальніше</a>



        <div class="start_about_chat">


            <p class="start_about_item_1">Натхнення можна знайти всюди</p>
            <button type="button" class="start_about_btn2">Чат</button>

        </div>
    </div>
</section>