<section class="start_hero">
    <div class="container start_hero_container">
        <input class="start_hero_input" type="text" placeholder="Пошук">
        <h1 class="start_hero_h1">
            #1 Організатор корпоративних заходів
        </h1>

        <div class="start_hero_info">
            <p class="start_hero_text">
                Протокол зустрічей і заходів CBD. Ми є фірмою №1 з корпоративного планування у Вашингтоні для
                міжнародних урядів, дипломатів і банків.
            </p>

            <button type="button" class="start_hero_button">
                Детальніше
            </button>
        </div>
    </div>
</section>