<section class="protocol">
    <div class="container">

        <h2 class="protocol_title">
            Протокол заходів і зустрічей
        </h2>

            <div class="protocol_card">
                <h3 class="protocol_card-title">
                    <span class="protocol_number">1.</span>
                    Планування
                </h3>

                <ul class="protocol__ist">
                    <li class="protocol_item">Менеджери контенту</li>
                    <li class="protocol_item">Укладання договору</li>
                    <li class="protocol_item">Концепція дизайну</li>
                    <li class="protocol_item">Бюджет</li>
                    <li class="protocol_item">Попередня реєстрація</li>
                    <li class="protocol_item">Зв'язки з громадськістю</li>
                    <li class="protocol_item">Вибір ділянки</li>
                    <li class="protocol_item">Бронювання спікерів</li>
                    <li class="protocol_item">Пошук талантів</li>
                </ul>
            </div>

            
            <div class="protocol__card">
                <h3 class="protocol__card-title">
                    <span class="protocol__number">2.</span>
                    Логістика
                </h3>

                <ul class="protocol_list">
                    <li class="protocol_item">Повітряна подорож</li>
                    <li class="protocol_item">Оренда декору</li>
                    <li class="protocol_item">Прокат урочистої білизни</li>
                    <li class="protocol_item">Наземний транспорт</li>
                    <li class="protocol_item">Бронювання готелю</li>
                    <li class="protocol_item">Друк</li>
                    <li class="protocol_item">Приватна охорона</li>
                    <li class="protocol_item">Кадрове забезпечення</li>
                    <li class="protocol_item">Зв'язок з постачальниками</li>
                </ul>
            </div>

            <div class="protocol__card">
                <h3 class="protocol__card-title">
                    <span class="protocol__number">3.</span>
                    Виконання
                </h3>

                <ul class="protocol_list">
                    <li class="protocol_item">Подарунки учасникам</li>
                    <li class="protocol_item">Аудіовізуал</li>
                    <li class="protocol_item">Обслуговування</li>
                    <li class="protocol_item">Декор</li>
                    <li class="protocol_item">Маркетинг</li>
                    <li class="protocol_item">Фотографія</li>
                    <li class="protocol__item">Рекламні товари</li>
                    <li class="protocol_item">Звук / Освітлення</li>
                    <li class="protocol_item">Відеозйомка</li>
                </ul>
            </div>

            <div class="protocol__card">
                <h3 class="protocol__card-title">
                    <span class="protocol__number">4.</span>
                    Менеджмент
                </h3>

                <ul class="protocol_list">
                    <li class="protocol_item">Управління контрактами</li>
                    <li class="protocol_item">Управління призначенням</li>
                    <li class="protocol_item">Управління логістикою</li>
                    <li class="protocol_item">Управління протоколом</li>
                    <li class="protocol_item">Виїзні події</li>
                    <li class="protocol_item">Реєстрація учасників на місці</li>
                    <li class="protocol_item">Закупівлі</li>
                    <li class="protocol_item">Стратегічний менеджмент</li>
                </ul>
            </div>

        </div>

    </div>
</section>