@use "../../base/variables" as *;

.start_about {
    padding-top: 16px;
    padding-bottom: 48px;

    @media screen and (min-width: 724px) {
        padding-top: 64px;
        padding-bottom: 40px;
    }

    @media screen and (min-width: 1380px) {
        padding-top: 80px;
        padding-bottom: 48px;
    }

    &_img {
        border: 2px solid $white-fon;
        border-radius: 8px;
        width: 224px;
        height: 240px;

        @media screen and (min-width: 724px) {
            width: 212px;
            height: 204px;
        }

        @media screen and (min-width: 1380px) {
            width: 210px;
            height: 210px;
        }
    }

    &_title {
        font-weight: 500;
        font-size: 24px;
        line-height: 133%;
        color: $gold-text;

        @media screen and (min-width: 724px) {
            font-size: 40px;
            line-height: 120%;
        }

        @media screen and (min-width: 1380px) {
            font-size: 56px;
            line-height: 114%;
        }

    }

    &_photo {
        display: flex;
        align-items: center;
        margin-bottom: 8px;
    }
}